.container {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0px;
  left: 0;
  right: 0;
  p {
    font-size: 16px;
    color: var(--footer-text-color);
  }
}

